<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.rsm.mapper.CookOrderItemsMapper">
	<select id="queryOrderItemsByCookerId" resultType="com.rsm.bean.CookOrderItems">
		SELECT od.id,od.order_id,od.food_id,od.status,od.amount,fd.food_name 
		FROM
		order_detail od
		LEFT OUTER JOIN food fd
		ON od.food_id =fd.food_id
		WHERE status!=3 AND (category_id IN(SELECT id FROM category WHERE cook_id=#{cookId}))
		ORDER by od.status DESC
	</select>
	
	<update id="updateStatusTo2ByItemId">
		UPDATE order_detail SET status=2 WHERE id=#{id} AND status=1
	</update>
	
	<update id="updateStatusTo3ByItemId">
		UPDATE order_detail SET status=3 WHERE id=#{id} AND status=2
	</update>
	
	

</mapper>