<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rsm.mapper.OrdersItemMapper">
	
	<select id="selectOrderItemListById" parameterType="Integer" resultType="com.rsm.bean.OrdersItem">
		select * from order_detail where order_id=#{order_id}
	</select>
	
	<select id="seletFoodById" parameterType="Integer" resultType="com.rsm.bean.Food">
		select * from food where food_id=#{food_id}
	</select>
	
	<select id="listOrdersItemPage" parameterType="Integer" resultType="com.rsm.bean.OrdersItem">
		select * from order_detail where order_id=#{order_id}
		<if test="start!=null and count!=null">
			limit #{start},#{count}
		</if>
	</select>
	<select id="total" parameterType="Integer" resultType="Integer">
		select count(*) from order_detail where order_id=#{order_id}
	</select>
</mapper>